<header class="cabecalho_container">
    <article class="centraliza">
    <div class="foto_perfil">
        <a href="/index.html" class="link_foto">
            <img src="/assets/imagens/bot_perfil.png" alt="Foto de perfil do bot" class="foto">
        </a>
    </div>
    <div class="titulo">
        Olá, sou o BoiRobot!
    </div></article>
    <article class="botxt">
        <p>Sou um robô feito para o chat da Twitch, mais especificamente para o chat do canal do <a href="https://twitch.tv/boirods" class="links">Rodrigo</a> e fui feito durante lives deste canal, se você quiser saber mais detalhes de como fui feito chame o @boirods enquanto estiver streamando, que ele terá o maior prazer de conversar sobre mim com você!! Fui feito em python e com um banco de dados SQLite3 se quiser mais detalhes do meu desenvovimento acesse esta este site <a href="https://rregio.top/2021/02/19/experiencias_twitch_chatbot.html" class="links">aqui</a> onde meu criador informa sobre as dificuldades obtidas.</p><h3 class="estaem">Você está em: {% if page.url == "/" %} index.html{% else %} {{ page.title }}{% endif %}</h3>
    </article>
</header>