body{
    text-align: justify;
    max-width: 1024px;
    min-width: 500px;
    margin: auto;
}
h2{
    font-size: 2.5em;
    line-height: 1.5em;
}
h3{
    font-size: 2em;
    line-height: 1.3em;
}
.cabecalho_container{
    max-width: 1024px;
    background-color: #aaffaa;
    align-content: center;
    margin-top: 20px;
    padding: 5px;
    border: black solid 1px;
    border-radius: 5px;
}
.centraliza{
    text-align: center;
    margin: 0 auto;
}
.foto_perfil{
    width: 75px;
    height: 75px;
    display: inline-block;
}
.titulo{
    display: inline-block;
    font-size: 3.5em;
    position: relative;
    top: -25px;
    padding-left: 30px;
}
.foto{
    width: 75px;
    border: black 2px solid;
    border-radius: 50%;
    padding: 5px;
}
.botxt{
    font-size: 1.25em;
    line-height: 1.1em;
    margin: 0 10px 10px 10px;
}